
{{ 'new-featured-blog.css' | asset_url | stylesheet_tag }}

<section class="new-blog page-width">
    <div class="article-div " >
        <div class="article-left">
            {%- for article in section.settings.blog.articles limit: 3-%}
                <div>
                   {% if forloop.index == 1 %}
                      <img src="{{ article.image.src | image_url: master }}" alt="">
                        <h3 >
                            <a href="{{ article.url }}" class="full-unstyled-link">
                                {{ article.title | truncate: 50 | escape }}
                            </a>
                        </h3>
                        <p> {{ article.author }} </p>
                    {% endif %}
                </div>
        {%- endfor -%}
        </div>
        <div class="article-right">
            <ul>
                {%- for article in section.settings.blog.articles limit: 3-%}
                    <li>
                        {% if forloop.index > 1 %}
                             <img src="{{ article.image.src | image_url: master }}" alt="">
                            <a href="{{ article.url }}" class="full-unstyled-link">
                                {{ article.title | truncate: 50 | escape }}
                            </a>
                        {% endif %}
                    </li>
                {%- endfor -%}
            </ul>
    
    </div>
</section>


{% schema %}
    {
        "name": "New Featured Blog",
        "settings": [
            {
            "type": "header",
            "content": "Blog"
            },
            {
            "type": "blog",
            "id": "blog",
            "label": "Blog"
            },
            {
            "type": "range",
            "id": "post_limit",
            "label": "Number of posts to show",
            "min": 1,
            "max": 3,
            "default": 3
            },
            {
            "type": "checkbox",
            "id": "show_image",
            "label": "Show post image",
            "default": true
            },
            {
            "type": "checkbox",
            "id": "show_date",
            "label": "Show post date",
            "default": true
            },
            {
            "type": "checkbox",
            "id": "show_author",
            "label": "Show post author",
            "default": true
            }
        ],
        "presets": [
            {
            "name": "New Featured Blog"
            
            }
        ]
    }
{% endschema %}